<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>
    <div style="display: block">
      <canvas baseChart [datasets]="stockChartData" [labels]="stockChartLabels" [options]="chartOptions" [legend]="chartLegend"
        [chartType]="stockChartType"></canvas>
    </div>
    <ion-card-content>
      <ion-item>
        <ion-label>Grafíco</ion-label>
        <ion-select [(ngModel)]="stockChartType">
          <ion-select-option value="bar">Barras</ion-select-option>
          <ion-select-option value="horizontalBar">Barras horozontales</ion-select-option>
          <ion-select-option value="pie">Gráfico circular</ion-select-option>
          <ion-select-option value="line">Lineas</ion-select-option>
          <ion-select-option value="radar">Radar</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

<!------------------------------------------------------------------------------>

<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-title>Ordenes</ion-card-title>
  </ion-card-header>
  <div style="display: block">
    <canvas baseChart [datasets]="orderChartData" [labels]="orderChartLabels" [options]="chartOptions" [legend]="chartLegend"
      [chartType]="orderChartType"></canvas>
  </div>
  <ion-card-content>
    <ion-item>
      <ion-label>Grafíco</ion-label>
      <ion-select [(ngModel)]="orderChartType">
        <ion-select-option value="bar">Barras</ion-select-option>
        <ion-select-option value="horizontalBar">Barras horozontales</ion-select-option>
        <ion-select-option value="pie">Gráfico circular</ion-select-option>
        <ion-select-option value="line">Lineas</ion-select-option>
        <ion-select-option value="radar">Radar</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>