<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img src="../../../assets/icon/logo.svg" />

      <span style="margin:21px 0px 0px 10px; position: absolute;">Login</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>

  </ion-list>
  <ion-button expand="block" (click)="login()">Entrar</ion-button>
</ion-content>