// padding in ion-content
.login-content{
    --padding-top: 0px;
    --padding-start: 50px;
    --padding-end: 50px;
}

// padding in the inputs
.in-list{
    --padding-top: 25px;
}

// space between inputs and button
.button{
    margin-top: 50px!important ;
}